[Desktop Entry]
Type=Action
Name[en_EN]=Fix series subs
Name[es_ES]=Fix series subs
Name[en]=Fix series subs
Name[es]=Fix series subs
ToolbarLabel[en_EN]=Fix series subs
ToolbarLabel[es_ES]=Fix series subs
ToolbarLabel[en]=Fix series subs
ToolbarLabel[es]=Fix series subs
Profiles=profile-zero;

TargetLocation=true
TargetToolbar=true

[X-Action-Profile profile-zero]
Name[es_ES]=Fix series subs
Name[en_EN]=Fix series subs
Name[en]=Fix series subs
Name[es]=Fix series subs
Exec=/usr/bin/fix_subtitles.py -s -p %f
